/.bundle

/log/*
!/log/.keep
/tmp
/public
/config/database.yml

# React on Rails
npm-debug.log
node_modules

# Generated js bundles
/app/assets/webpack/*

# Ignore application configuration
/config/application.yml
