<div class="container">
  <div class="row">
    
    <h2 class="page-header">Comments</h2>
    <section class="comment-list">
      <div id="new_comment_container"></div>
      <%- all_comments.each do |comment| %>
        <%= render partial: 'comments/comment', locals: { comment: comment } %>
      <% end %>
    </section>
    
  </div>
</div>	