<div class="container">
  <div class="row">
    
    <h2 class="page-header">Comments</h2>
    <section class="comment-list">
    	<%- if all_comments.size == 0 %>
      <h3> Вы можете стать первым, кто оставит комментарий!</h3>
      <% end %>
      <div id="new_comment_container"></div>
      <%- all_comments.each do |comment| %>
        <%= render partial: 'comments/comment', locals: { comment: comment } %>
      <% end %>
    </section>
    
  </div>
</div>	