%div.modal.fade{id: article.id,class: 'modal fade', "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog{:role => "document"}
    .modal-content
      .modal-header
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
        %h4#myModalLabel.modal-title Подробнее
      .modal-body
        .col-md-4
          = image_tag 'new.jpg', 'width'=> '150px', class: 'avatar-big'
          %h2
            = article.title
        .col-md-8
          %h4
            = article.description
          %h5
            = article.full_text
      .modal-footer