<%- model_class = Article -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<%- if @articles.size == 0 %>
  <h4>News portal is empty now</h4>
<%- else %>  
  <table class="table table-striped">
    <tbody>
      <% @articles.each do |article| %>
        <tr>
          <h2><%= link_to article.title, article %></h2>
          <p><%= article.description %></p>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>