.jumbotron
  %h2.text-center Предложенные новости
  - unless @articles.size == 0
    %br
    %table.table.table-striped.custab
      %thead
        %tr
          %th Новость
        - @articles.each do |article|
          %tr{id: "article_#{article.id}"}
            .col-md-6
              %td= render 'article', article: article
            %td.text-center
              = link_to edit_article_path(id: article.id), remote: true, class: 'btn btn-success' do
                %span.glyphicon.glyphicon-ok
                Confirm
            %td.text-center
              = link_to article_path(id: article.id), :method => 'delete', :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },remote: true, class: 'btn btn-danger' do
                %i.fa.fa-fw.fa-remove
                Delete
  - else
    %h2 No requests