<div class="media">
 <p class="pull-right"><small>
 	<%= comment.updated_at.to_date %>
 </small></p>
  <%= link_to comment.user, :class => "media-left" do %>
    <img src="http://lorempixel.com/40/40/people/1/">
  <% end %>
  <div class="media-body">
      
    <h4 class="media-heading user_name">
      <%= comment.user.name %>
    </h4>
    <%= comment.body %>
    
    <p><small><a href="">Like</a> - <a href="">Share</a></small></p>
  </div>
</div>