- if commentable.try(:comments_on?) || true
  %h4.comments_sum
    - if commentable.root_comments.size == 0
      Вы можете стать первым, кто оставит комментарий!
    - else
      Комментариев: #{ commentable.root_comments.size }

.comments#comments
  %ol.comments_tree{ data: { comments: { tolarance_time: 10  } } }
    / = render partial: 'comments/haml/comment', locals: { tree:comments_tree }
  = render partial: 'comments/haml/form', locals: { commentable: commentable, comment: comment }
